*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(images/girlx.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding:1%;
    justify-content: space-between;
    align-items: center;
    background: black;
}
nav img{
    width: 150px;
    padding-left:20%;

}
.nav-links{
    flex:1;
    text-align: right;

}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    padding-right: 5%;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13 px;
    font-family: 'Montserrat', sans-serif;

}

.nav-links ul li ::after{
    content :'';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin :auto;
    transition:0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;
}
.about{
    width :90%;
    color: white;
    position: absolute;
    top: 20%;
    left: 7%;
    font-size:  52px; ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.text-box a{
    font-size :28px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding :12px 34px;
    background: transparent;
    position: relative; 

}
.hero-btn-fill{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    padding :12px 34px;
    background: white;
    position: relative; 
}

.hero-btn:hover{
    border: 1px solid orange;
    background: orange;
    transition: 0.5s;
}
.hero-btn-fill:hover{
    border: 1px solid orange;
    background: orange;
    transition: 0.5s;
}
nav.fa{
    display: none;
}
@media(max-width :700px)
{
    .hero-btn{
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding :12px 34px;
        background: transparent;
        position: relative; 
        font-size: 10px;
        margin :10px;
    
    }
    .text-box{
        width :90%;
        color: white;
        position: absolute;
        top: 60%;
        left: 10%;
        font-size:  32px; ;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    .nav-links ul li{
      display: block;
    }
    .nav-links{
        position: absolute;
        background: black;
        height: 100vh;
        width: 200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index:2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin:10px;
        font: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding :30px;
    }  
   
}

.about h1{
    color:white;
   font-size: 50px;
}
.about p{
    color: white;
    border: 0.8px solid white;
    width: 400px;
    margin: 10px;
    padding: 10px;
    position: relative;
    display: inline-block;
    font-size: 30px;
}


footer{
    position: absolute;
    width: 100%;
    background: black;
    height: auto;
    bottom: 0;

}
.footer-content {
    color: white;
    text-align :center;
    padding :10px;
}
